$icon-birthday: "\e900";
$icon-botton_add: "\e901";
$icon-botton_delete: "\e902";
$icon-Clip: "\e903";
$icon-close: "\e904";
$icon-danxuan: "\e905";
$icon-danxuan1: "\e906";
$icon-delete: "\e907";
$icon-edit: "\e908";
$icon-home_bg: "\e909";
$icon-home_rw: "\e90a";
$icon-home_sp: "\e90b";
$icon-home_title_add: "\e90c";
$icon-home_title_icon: "\e90d";
$icon-home_title_more: "\e90e";
$icon-home_title_tz: "\e90f";
$icon-jiangtou_left: "\e910";
$icon-jiantou_right: "\e911";
$icon-khbf_more: "\e912";
$icon-nav_app: "\e913";
$icon-nav_exit: "\e914";
$icon-nav_fk: "\e915";
$icon-nav_help: "\e916";
$icon-nav_news: "\e917";
$icon-nav_number_bg: "\e918";
$icon-open: "\e919";
$icon-open1: "\e91a";
$icon-person_add: "\e91b";
$icon-Reply: "\e91c";
$icon-seavch: "\e91d";
$icon-sidebar_bb: "\e91e";
$icon-sidebar_bf: "\e91f";
$icon-sidebar_bg: "\e920";
$icon-sidebar_close: "\e921";
$icon-sidebar_cp: "\e922";
$icon-sidebar_gc: "\e923";
$icon-sidebar_grsz: "\e924";
$icon-sidebar_gzt: "\e925";
$icon-sidebar_kh: "\e926";
$icon-sidebar_kq: "\e927";
$icon-sidebar_mb: "\e928";
$icon-sidebar_open: "\e929";
$icon-sidebar_rw: "\e92a";
$icon-sidebar_sp: "\e92b";
$icon-sidebar_sz: "\e92c";
$icon-sidebar_txl: "\e92d";
$icon-sidebar_xm: "\e92e";
$icon-sidebar_zl: "\e92f";
$icon-tc_close: "\e930";
$icon-wrong: "\e931";
$icon-xz: "\e932";
$icon-xz1: "\e933";
$icon-uniE934: "\e934";
$icon-uniE935: "\e935";
